@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-primary font-poppins text-sm;

  @screen sm {
    @apply text-base;
  }

  .toast-wrapper-custom {

    @screen sm {
      width: 500px;
      @apply top-16;
    }

    @screen lg {
      width: 600px;
    }
  }
}

h1, .title {
  @apply text-2xl;

  @screen lg {
    @apply text-4xl;
  }
}

.title-bold {
  @apply font-bold uppercase;
}

h2 {
  @apply text-xl font-bold uppercase;

  @screen lg {
    @apply text-3xl;
  }
}

h4 {
  @apply text-xl font-bold uppercase;
}

.custom-container {
  @apply px-4 max-w-screen-xl mx-auto w-full;
}

.btn {
  @apply flex items-center gap-x-2.5 px-5 py-2 font-bold text-center justify-center uppercase text-white bg-gray-500 text-sm;

  @screen lg {
    @apply text-xl;
  }

  &.btn-primary {
    @apply bg-secondary-darker;
  }

  &.btn-secondary {
    @apply bg-secondary;
  }

  &.btn-secondary-darker {
    @apply bg-secondary-darker;
  }

  &.btn-round {
    @apply w-12 h-12 rounded-full p-0 justify-center;
  }

  &.card {
    @apply m-0 w-8 h-8;
  }

  &.nav {
    @apply w-8 h-8 m-0;

    @screen xl {
      @apply w-10 h-10;
    }

    .svg-btn-nav {
      @apply w-4 h-4;

      @screen xl {
        @apply w-5 h-5;
      }
    }
  }

  &.menu {
    @apply text-base bg-secondary normal-case font-normal text-primary px-7;
  }

  &.pagination {
    @apply text-primary text-base normal-case font-normal m-0 py-3;

    &.disabled {
      @apply text-secondary bg-secondary/50;
    }
  }

  &.square {
    @apply text-xl px-4 py-3 bg-secondary cursor-pointer font-normal text-secondary-darker;

    &.active {
      @apply text-primary;
    }
  }

  &.small {
    @apply text-xs;
  }

  &.product {
    @apply w-full m-0 justify-center;

    @screen lg {
      @apply text-sm;
    }

    @screen xl {
      @apply text-base;
    }

    &.full {
      @apply w-full;
    }
  }

  &.margin-less {
    @apply m-0;
  }

  &.admin {
    @apply bg-primary text-base normal-case font-normal;
  }
}

.grid-product-categories-wrapper {
  @apply grid grid-cols-1 gap-y-5 mt-5 mb-12;

  @screen sm {
    @apply grid grid-cols-2 gap-x-5;
  }

  @screen lg {
    @apply grid-cols-4;
  }

}

.grid-services-wrapper {
  @apply grid grid-cols-1 gap-y-5 mt-5 mb-12;

  @screen sm {
    @apply grid grid-cols-2 gap-x-5;
  }

  @screen lg {
    @apply grid-cols-3;
  }
}

.homepage-picture {
  @apply h-80 w-full object-cover;

  @screen lg {
    @apply h-auto w-1/2;
  }
}

.nav-wrapper {
  @apply z-10;

  .mobile-link {
      @apply px-5 py-2.5 border-b border-secondary-darker transition ease-in-out duration-300;

    &:hover {
      @apply text-secondary-darker;
    }

    .mobile-open {
      @apply w-auto bg-transparent m-0 p-0 text-primary font-normal normal-case;
    }
  }

  .sub-category-wrapper, .sub-services-wrapper {
    @apply absolute top-0 right-0 z-10 w-full h-full transition ease-in-out duration-500 bg-white;

    .sub-category-title {
      @apply bg-secondary/30 py-2 text-center relative text-base cursor-pointer;
    }
  }

  .see-all {
    @apply py-2.5 px-5 font-bold transition ease-in-out duration-300;

    &:hover {
      @apply text-secondary-darker;
    }
  }
}

.account-dashboard {
  a {
    &:hover {
      @apply text-secondary-darker;
    }
  }

  .active {
    @apply text-secondary-darker;
  }

  .open {
    @apply border-b pb-3 mb-3;
  }
}

.error-page {
  @apply flex flex-col justify-center text-center mt-20;
}

.form-wrapper {
  @apply w-full bg-secondary flex flex-col py-4 px-10 gap-4 mx-auto;

  @screen lg {
    @apply w-1/2;
  }

  &.admin {
    @apply bg-white w-10/12;
  }

  .input-wrapper {
    @apply mx-auto w-full;

    input, select, textarea {
      @apply w-full p-2 flex flex-col;
    }

    &.admin {
      input, select, textarea {
        @apply border border-primary;
      }
    }

    label {
      @apply italic mb-1 block;
    }
  }
}

.message {
  @apply bg-white border border-secondary-darker w-fit mx-auto flex flex-col text-center p-2 mt-4;
  &.warning {

  }
}

.product-pictures-slider {
  .keen-slider.thumbnail:not([data-keen-slider-disabled]) {
    width: 120px;
    @apply hidden;

    @screen lg {
      @apply flex;
    }
  }

  .thumbnail .keen-slider__slide.active {
    @apply border-2 border-secondary-darker;
  }
}

footer {
  a {
    @apply ease-in-out duration-300;
  }
  a:hover {
    @apply text-secondary-darker;
  }
}

.social-link-footer {
  @apply w-10 h-10 border border-secondary-darker rounded-full flex;

  .social-icon {
    @apply text-primary m-auto ease-in-out duration-300;

    &:hover {
      @apply text-secondary-darker;
    }
  }
}

.section-footer {
  @apply border-b-2 lg:border-b-0 lg:border-r-2 border-secondary-darker flex flex-col p-5 lg:px-10 lg:w-3/12;
}

.page-wrapper {
  @apply flex flex-col;
  min-height: 100vh;

  #main-content {
    @apply flex flex-col grow w-full;
  }
}

.admin-table {
  th.ant-table-cell.admin-action-title, .admin-action-title {
    @apply text-right;
  }
}

.admin-action {
  @apply cursor-pointer;

  &:hover {
    @apply underline underline-offset-4;
  }

  &.delete {
    @apply text-red-500;
  }
}


